p{
        background-color: green;
        color:white;
        font-family: "Times New Roman", Times, serif;
  }
h1 {
    background-color: silver;
    color: black;
  }
  h2 {
    color: blue;
    font-weight: bold;
    text-align: center;
  }